/*irá afetar tudo dá página*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}   

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;
  position: relative;
}

.chat {
  width: 5%;
  position: fixed;
  top: 80%;
  right: 5%;
}

html {
  scroll-behavior: smooth;
} 